<footer class="mt-5 p-5 bg-light">

    <div class="row justify-content-between g-5">
      <div class="col-md-4">
        <div>
          <h3>Quick links</h3>
          <ul class="list-unstyled">
            <li><a class="text-dark text-decoration-none underline-on-hover" href="">Refund Policy</a></li>
            <li class="mt-2"><a class="text-dark text-decoration-none underline-on-hover" href="">Privacy Policy</a></li>
            <li class="mt-2"><a class="text-dark text-decoration-none underline-on-hover" href="">Terms Of Service</a>
            </li>
            <li class="mt-2"><a class="text-dark text-decoration-none underline-on-hover" href="">Shipping Policy</a></li>
          </ul>
        </div>
        <div>
          <h3>Contacts</h3>
          <ul class="list-unstyled">
            <li><strong>Email: </strong> email@example.com</li>
          </ul>
        </div>
  
      </div>
      <div class="col-md-4 text-center">
        <img src="../../../assets/logo.png" alt="logo" height="100">
      </div>
      <div class="col-md-4">
        <h3>Toastin' Co.</h3>
        <p>Toastin' Co. is a trading name of Salterns Commerce Ltd.</p>
        <p>Registered in England and Wales.</p>
        <p>Company No: 14835318</p>
      </div>
    </div>
  
    <hr>
    <p class="text-center">© 2023, Kitchen Gems</p>
  
  </footer>