<app-header></app-header>

<section class="m-5">
  
  <!-- buy product  -->
  <div id="mySection" class="row g-4">
    <div class="col-md-5">
      <app-img-carousel [allImgs]="data?.product.imgs"></app-img-carousel>
    </div>

    <div class="col-md-7">
      <div class="sticky-top">
        <app-stars-rank [rank]="data?.reviews.rank" [reviews]="data?.reviews.nrReviews" [show]="true"></app-stars-rank>

        <h1>{{data?.product.name}}</h1>
        <p>{{data?.product.description}}</p>
        <p class="h3"><strong>${{data?.product.price}}</strong></p>
        <p>{{data?.product.note}}</p>
        <div class="form-outline">
          <label class="form-label" for="typeNumber">Quantity</label>
          <input type="number" id="typeNumber" class="form-control"[(ngModel)]="quantity" name="quantity" />
        </div>
        <div class="mt-4">
          <button (click)="buy()" type="button" class="btn btn-danger w-100"><strong>Buy Now</strong></button>
        </div>
      </div>

    </div>
  </div>

  <!-- more information  -->
  <div class="mt-5 p-5 bg-more-informattion rounded">
    <h2 class="text-center">More Information Below!</h2>

    <div class="mt-5 accordion accordion-flush" id="accordionFlushExample">
      <div *ngFor="let item of data?.moreInfo; let index = index" class="accordion-item">
        <h2 class="accordion-header" id="flush-heading{{index}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#flush-collapse' + index" aria-expanded="false" [attr.aria-controls]="'flush-collapse' + index">
            {{item.title}}
          </button>
        </h2>
        <div [id]="'flush-collapse' + index" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-heading' + index">
          <div class="accordion-body">
            <p>{{item.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- produc details  -->
  <div class="mt-5">
    <h2 class="text-center">Product Details</h2>

    <div class="mt-5">
      <div class="row justify-content-md-center g-4">

        <div *ngFor="let item of data?.details" class="col-md-4">
          <div class="p-4 bg-light rounded">
            <div class="img-container">
              <img class="img-fluid rounded"
                [src]="item.img" alt="Product">
            </div>
            <div class="mt-4">
              <h3>{{item.title}}</h3>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <!-- reviews section  -->
  <div class="mt-5">
    <h2 class="text-center">Reviews</h2>

    <div class="mt-5">
      <app-stars-rank [rank]="4" [reviews]="950" [show]="true"></app-stars-rank>

      <div class="mt-2">
        <div class="row g-4">

          <div *ngFor="let item of data?.reviews.list" class="col-md-4">
            <div class="border rounded">
              <div class="img-container">
                <img class="img-fluid"
                  [src]="item.img"
                  alt="review image">
              </div>
              <div class="p-4">
                <h3>{{item.name}}</h3>
                <p class="m-0 text-secondary">{{item.date}}</p>
                <app-stars-rank [rank]="item.rank"></app-stars-rank>

                <p>{{item.description}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</section>

<app-footer></app-footer>