<app-header></app-header>

<main>

  <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item my-carousel-image bg-img-1 active">
      </div>
      <div class="carousel-item my-carousel-image bg-img-2">
      </div>
      <div class="carousel-item my-carousel-image bg-img-3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="p-5">
    <h2 class="text-center">Our Products</h2>

    <div class="mt-5">
      <div class="row justify-content-md-center g-4">

        <div *ngFor="let product of productsList" class="col-md-4">
          <div class="p-4 bg-light rounded my-product">

            <div class="img-container">
              <a [href]="'#/product/' + product.id" class="my-container">
                <img class="img-fluid rounded image"
                [src]="product.img" alt="Product">
                <div class="middle">
                  <div class="p-2 rounded bg-danger text-white"><strong>Shop Now</strong></div>
                </div>
              </a>
            </div>

            <div class="mt-4">
              <div class="d-flex justify-content-between">
                <h3>{{product.name}}</h3>
                <span class="d-flex align-items-center"><strong>{{product.price}}</strong></span>
              </div>

              <p>{{product.description}}</p>

              <a [href]="'#/product/' + product.id">Shop Now</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>

<app-footer></app-footer>